/* 초기화 */
* { 
  list-style: none;
  text-decoration: none;
  margin: 0; padding: 0;
  font-family: 'Yeon Sung', cursive;
  font-size: 25px;
  color: black;
}
body {
  background-color: #E6E3DA;
}

  #logo {
    width: 150px; height: 100px;
    float: left;
  }

  header > nav {
    width: 1050px; height: 100px;
    float: left;
  }
    header > nav > ul {
    }
     header > nav > ul > li {
      width: 350px; height: 100px;
      float: left;
      text-align: center;
     }
      header > nav > ul > li > a {
        padding: 34px 0 34px 0;
        display: block;
      }
        header > nav > ul > li > a:hover {
          background-color: beige;
        }

  #wrap {
    width: 1200px; height: 1000px;
    margin: 0 auto;
  }

  header {
    width: 1200px; height: 100px;
  }

  figure {
    width: 1200px; height: 200px;
  }
  #titleimage {
    width: 700px; height: 200px;
    float: left;
  }
    #titleimage > img {
      width: 700px; height: 200px;
     }
  #eventbanner {
    width: 500px; height: 200px;
    float: left;
  }
    #eventbanner > img {
     width: 500px; height: 200px;
    }

    /* 메인 */
  main {
    width: 1200px; height: 600px;
  }

  #tabmenu {
    width: 898px; height: 600px;
    border-left: 1px solid black;
    float: left;
  }
    #tabmenu > input[type="radio"] {
      display: none;
    }
    #tabmenu > label {
      width: 297px; height: 100px;
      border: 1px solid black;
      float: left;
      line-height: 100px;
      text-align: center;
    }
    #tabmenu > label:hover {
      background-color: #eee;
      cursor: pointer;
    }

    #tabmenu input:checked + label {
      border : 1px solid black;
      background-color: gray;
  }

  .tab1 {
    display: none;
    border: 1px solid #ddd;
  }
 
  #noodle > ul > li {
   margin: 10px;
   display: inline-block;
   margin: 40px 0px 0px 70px;
   text-align: center;
  }
  #noodle > ul > li > img {
    width: 200px; height: 150px;
    margin-top: 10px;
  }

  #rice > ul > li {
   margin: 10px;
   display: inline-block;
   text-align: center;
   margin: 140px 0px 0px 70px;
  }
  #rice > ul > li > img {
    width: 200px; height: 150px;
    margin-top: 10px;
  }

 #juice > ul > li {
   margin: 10px;
   display: inline-block;
   text-align: center;
   margin: 140px 0px 0px 70px;
 }

 #juice > ul > li > img {
  width: 200px; height: 180px;
  margin-top: 10px;
  
 }

 #tab1:checked ~ #noodle,
 #tab2:checked ~ #rice,
 #tab3:checked ~ #juice {
   display: block;
 }

 /* 주문내역 */
  #basket {
    width: 299px; height: 600px;
    border: 1px solid black;
    float: left;
  }

  /* 푸터 */
  footer {
    width: 1200px; height: 100px;
    border: 1px solid black;
    text-align: center;
  }
